footer {
  background-color: var(--color-text);
  color: var(--color-bg);
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  @media (min-width: 700px) {
    & {
      grid-template-columns: 1fr 620px 1fr;
    }
  }
  > * {
    grid-column: 2 / 3;
  }
}
