.hero {
  /* aspect-ratio: 16 / 9; */
  align-content: center;
  display: grid;
  grid-column: 1 / -1;
  height: 40vw;
  max-height: 442px;
  min-height: 120px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.hero .hero-background {
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* bottom: 0; */
}
.hero .hero-background img {
  height: auto;
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.hero .hero-layout {
  display: grid;
  grid-template-columns: var(--page-column);
}
.hero .hero-content {
  color: white;
  display: grid;
  grid-column: 2 / 3;
  grid-template-columns: 1fr 5fr;
  gap: 20px;
  z-index: 1;

  /* position: absolute;
  top: 40px;
  left: 0;
  right: 0; */
}
.hero .hero-content .hero-logo {
  /* max-width: 200px; */
  height: clamp(16px, 6vw, 60px);
}
.hero .hero-content h1 {
  font-family: var(--font-theme);
  font-size: clamp(16px, 4vw, 38px);
  line-height: 0.86;
  margin: 0.1em 0 0;
  text-transform: uppercase;
  width: 160px;
  max-width: 60%;
}
