.hero {
  aspect-ratio: 16 / 9;
  position: relative;
  width: 100%;
}
.hero img.hero-background {
  width: 100%;
}
.hero .hero-logo {
  position: absolute;
  left: 40px;
  top: 40px;
  max-width: 200px;
  width: 20vw;
}
.hero .hero-content {
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-family: "Simo";
  font-size: clamp(16px, 4vw, 22px);
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  position: absolute;
  top: 16vw;
}
