@font-face {
  font-family: "Simo";
  src: local("Simo"), url(./fonts/simo.ttf) format("truetype");
}
:root {
  --font-theme: Simo;
  --font-base: "Courier New", Courier, monospace;
  line-height: 1.5;
}
a:not([class]) {
  color: var(--color-link);
  text-underline-offset: 0.25em;
}
a:not([class]):active,
a:not([class]):focus,
a:not([class]):hover {
  color: var(--color-link-hover);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-theme);
  text-transform: uppercase;
}
